// Variables

//Base colors
@white: #fff;
@black: #000;

//Fonts


//Type


//Forms


//Buttons


// Tooltips



//Layout


//Breakpoints
@width-lg: 1320px;

@width-md: 1024px;

@width-sm: 756px;

@width-xs: 400px;





