.home-page {
	.intro {
		margin-top: 20px;
		margin-left: -10px;
		strong {
			font-weight: 100;
			font-size: 144px;
			line-height: 190px;
			&.green {
				color: @green;
			}
			&.purple {
				color: @purple;
			}
			&.red {
				color: @red;
			}
			&.yellow {
				color: @yellow;
			}
		}
	}
}